/* Button Styles */


.button {
    
    /*Step 2: Basic Button Styles*/
    display: block;
    height: 20px;
    width: 160px;
   background-color:#f0bb19;
	border-radius:6px;
	border:1px solid #4d4d4d;
	
    /*Step 3: Text Styles*/
    color:#484848;
	font-size:14px;
	font-weight:bold;
   
    text-align: center;
    
    /*Step 4: Fancy CSS3 Styles*/
    -moz-box-shadow: 0px 1px 4px #000;
	-webkit-box-shadow: 0px 1px 4px #000;
	box-shadow: 0px 1px 4px #000;
	background-color:#f0bb19;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;

   padding:4px;
	margin-bottom: 20px;
	margin-top: 20px;
}

/*Step 3: Link Styles*/
a.button {
    text-decoration: none;
}

/*Step 5: Hover Styles*/
a.button:hover
{
	color:#000000;
	background-color:#ffc61a;
}
a.button:active
{
	position:relative;
	top:1px;
}

/* @end */